@import url(font.css);
@import url(generalStyle.css);

/* ------------------- General ------------------- */
.text-title {
    font-family: "Poppins-SemiBold";
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
}

.text-theme {
    font-family: "Poppins-Medium";
    font-size: 32px;
    line-height: 48px;
    color: #ffffff;
}

.text-desc {
    font-family: "Poppins-Regular";
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.text-event-sub-title {
    font-family: "Poppins-SemiBold";
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
}

.text-event-sub-theme {
    font-family: "Poppins-Medium";
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
}

.sut-image {
    width: 200px;
    height: 200px;
}

.events-card-logo {
    width: 50px;
    height: 50px;
}