@import url(font.css);
@import url(generalStyle.css);

html,
body {
    overflow-x: hidden;
    width: 100%;
}

/* ------------------- General ------------------- */
.text-title {
    font-family: "Poppins-SemiBold";
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
}

.text-theme {
    font-family: "Poppins-Medium";
    font-size: 32px;
    line-height: 48px;
    color: #ffffff;
}

.text-desc {
    font-family: "Poppins-Regular";
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.text-event-sub-title {
    font-family: "Poppins-SemiBold";
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
}

.text-event-sub-theme {
    font-family: "Poppins-Medium";
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
}

.text-photo-card-name {
    font-family: "Poppins-SemiBold";
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin: 0;
}

.text-photo-card-position {
    font-family: "Poppins-Medium";
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin: 0;
}

.ifest-photo-card {
    background-color: #291647 !important;
}

.sut-image {
    height: 100px;
    width: max-content;
    padding: 0 20px 0 20px;
}

.events-card-logo {
    width: 50px;
    height: 50px;
}

.events-card-text {
    font-family: "Poppins-SemiBold";
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
}

.row-cp {
    display: flex;
}

/* Button */
.col-btn-left {
    display: flex;
    justify-content: end;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-btn-right {
    display: flex;
    justify-content: start;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-btn-left button,
.col-btn-right button {
    width: 147px;
    height: 48px;
}

/* Responsif */
@media screen and (max-width: 820px) {

    .col-btn-left button,
    .col-btn-right button {
        width: 110px;
        height: 40px;
        font-size: 1vm;
    }

    .col-btn-right a,
    .col-btn-left a,
    .col-btn-left span,
    .col-btn-right span {
        font-size: 12px;
    }
}

/* button cp, button guidbook & register */
@media screen and (max-width: 350px) {
    .row-cp {
        display: block;
    }

    .col-btn-left {
        justify-content: center;
    }

    .col-btn-right {
        margin-top: 20px;
        justify-content: center;
    }

}

@media screen and (max-width: 991px) {
    .col-lg-6{
        margin-top: 30px;
    }
}

#Speaker2{
    display: none;
}

@media screen and (max-width:1200px) {
    #Speaker1 {
        display: none;
    }

    #Speaker2 {
        display: block;
    }
}

