@import url(font.css);

/* ------------------- General Styling ------------------- */

/* BUTTON */
.btn-outline-primary.ifest-btn-outline-primary {
    color: #1c1c1c;
    background-color: transparent;
    background-image: none;
    border-color: #8267B4;
    border-radius: 10px;
}

.btn-outline-primary.ifest-btn-outline-primary:hover {
    color: #1c1c1c;
    background-color: #8267b498;
    border-color: #8267B4
}

.btn-outline-primary.ifest-btn-outline-primary.focus,
.btn-outline-primary.ifest-btn-outline-primary:focus {
    box-shadow: 0 0 0 .2rem #8267B4;
    color: #1c1c1c;
}

.btn-outline-primary.ifest-btn-outline-primary.disabled,
.btn-outline-primary.ifest-btn-outline-primary:disabled {
    color: #8267B4;
    background-color: transparent;
    color: #1c1c1c;
}

.btn-outline-primary.ifest-btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary.ifest-btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.ifest-btn-outline-primary.dropdown-toggle {
    color: #1c1c1c;
    background-color: #8267B4;
    border-color: #8267B4
}

.btn-outline-primary.ifest-btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary.ifest-btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.ifest-btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #8267B4;
    color: #1c1c1c;
}

.ifest-btn-outline-primary-text {
    text-decoration: none;
    color: #1c1c1c;
    font-family: "Poppins-SemiBold";
}

.ifest-btn-outline-primary-text:hover {
    text-decoration: none;
    color: #1c1c1c;
}

.btn-primary.ifest-btn-primary {
    color: #1c1c1c;
    background-color: #8267B4;
    border-color: #8267B4;
    border-radius: 10px;
    font-family: "Poppins-SemiBold";
}

.btn-primary.ifest-btn-primary:hover {
    color: #1c1c1c;
    background-color: #8267b498;
    border-color: #8267B4
}

.btn-primary.ifest-btn-primary.focus,
.btn-primary.ifest-btn-primary:focus {
    box-shadow: 0 0 0 .2rem #8267B4
}

.btn-primary.ifest-btn-primary.disabled,
.btn-primary.ifest-btn-primary:disabled {
    color: #8267B4;
    background-color: transparent
}

.btn-primary.ifest-btn-primary:not(:disabled):not(.disabled).active,
.btn-primary.ifest-btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.ifest-btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #8267B4;
    border-color: #8267B4
}

.btn-primary.ifest-btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary.ifest-btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.ifest-btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #8267B4
}

/* FORM */
.form-control.ifest-form {
    border-color: #c4c4c4;
}