div#info {
    flex-direction: column;
    /* position: absolute; */
    bottom: 40px;
    width: 100%;
    z-index: 2;
    gap: 20px;
}

div#info i {
    font-size: 1.2rem;
    padding: 0.5rem;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#info div.banner {
    width: 80%;
    max-width: 1400px;
    background-color: rgba(255, 255, 255, 0.71);
    padding: 1rem 1.7rem;
    justify-content: space-between;
}

div.banner div.countdown > div {
    display: inline-block;
    width: 70px;
    height: 85px;
    background-color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
}

div.countdown div {
    color: #1c1c1c;
    font-size: 1.7rem;
    font-weight: bolder;
}

div.countdown p {
    color: #1c1c1c;
    font-size: 0.7rem;
}

div.banner h3 {
    font-size: 1.5rem;
    font-family: "Mont", sans-serif;
}

div.banner span.register {
    padding: 10px 30px;
    background-color: #01142b;
    color: white;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 10px;
    border: 2px solid #01142b;
}

div.banner span.details {
    padding: 10px 30px;
    color: #01142b;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid #01142b;
}

section > h1,
section > h1 a {
    font-size: 2rem;
    text-align: center;
    margin-top: 80px;
    color: white;
    text-decoration: none;
}

.container-90 {
    max-width: 90%;
    width: 1240px;
    min-height: 190px;
    margin: 0 auto;
    margin-top: 24px;
    background-color: rgba(255, 255, 255, 0.48);
    border-radius: 10px;
}

#partners .container-90 {
    margin-bottom: 60px;
}

.medpart {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2D2D2D;
}

.backdrop {
    backdrop-filter: blur(4px);
}

#support .medpart .sponsor {
    justify-content: center;
}