/* 
    Countdown
*/
@import url(font.css);

div#info {
    flex-direction: column;
    /* position: absolute; */
    bottom: 40px;
    width: 100%;
    z-index: 2;
    gap: 20px;
}

div#info i {
    font-size: 1.2rem;
    padding: 0.5rem;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#info div.banner {
    width: 80%;
    max-width: 1400px;
    background-color: #291647;
    border-radius: 10px;
    padding: 1rem 1.7rem;
    justify-content: space-between;
}

div.banner div.countdown > div {
    display: inline-block;
    width: 70px;
    height: 85px;
    background-color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
}

div.countdown div {
    color: #1c1c1c;
    font-size: 1.7rem;
    font-weight: bolder;
}

div.countdown p {
    color: #1c1c1c;
    font-size: 0.7rem;
}

div.banner h3 {
    font-size: 1.5rem;
    font-family: "Mont", sans-serif;
}

div.banner span.register {
    padding: 10px 30px;
    background-color: #8267B4;
    color: white;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 10px;
    /* border: 2px solid #01142b; */
}

div.banner span.details {
    padding: 10px 30px;
    /* background-color: #8267B4; */
    color: #1c1c1c;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 10px;
    /* border: 2px solid #01142b; */

    padding: 10px 30px;
    color: #01142b;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid #01142b;
}

.title-cd{
    font-size:110%;
}

div .countdown2{
    display: flex;
    justify-content: space-around;
}

.box-countdown{
    display: none;
    width: 80%;
    background-color: #291647;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

.box-timer{
    width: 20%;
    border: 1px #000 solid;
    background-color: #ffff;
    border-radius: 5px;
}

.box-timer div, .box-timer p{
    display: flex;
    justify-content: space-around;
}

#days2, #hours2, #minutes2, #seconds2{
    color: #1c1c1c;
    font-size: 2vw;
    font-weight: bolder;
}

.title-countdown p{
    margin-top:20px ;
    color: #fff;
    font-size: 5vw;
    font-weight: bolder;
    text-align: center;
}

div.countdown2 p {
    text-align: center;
    color: #1c1c1c;
    font-size: 1vw;
    font-weight: bolder;
}

/* 
    Tabline
*/
.media-body p{
    font-family: "Poppins-Regular";
    text-align: justify ;
    font-size: 1vm;
}


.tab {
    margin: 0 auto;
    box-align: center;
    background-color: #A9D9F5;
    height: 300px;
}
.isian-tab1 button{
    display: flex;
    justify-content: space-between;
}

.tablink {
    background-color: #c0bebe;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 14px;
    width: 18%;
}

.tablink:hover {
    background-color: #291647;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

.memek{
display: block;
}

.isian-tab1{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    /* background: #291647; */
    background-color: #c4c4c4;
    color: white;
    margin: 100px auto 0; 
    /* code ini akan membuat div berada di tengah atas */
}

.isian-tab2{
    display: none;
    justify-content:start;
    width: 80%;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    /* background: #291647; */
    background-color: #c4c4c4;
    color: white;
    margin: 100px auto 0;
}

.pasklik{
    width: 80%;
    height: 300px;
    padding: 20px;
    /* background: #291647; */
    background-color: #c4c4c4;
    color: white;
    margin: 0px auto; 
}

.box-speaker{
    width: 80%;
    padding: 20px;
    /* background: #291647; */
    background-color: #291647;
    color: white;
    margin: 0px auto 50px auto; 
    border-radius: 0 0 10px 10px;
}

.speaker{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 50px 20%;
}

.speaker img{
    width: 180px;
    height: 200px;  
}

.carousel-pembicara{
    position: relative;
}

.box-tab{
    height: 500px;
}

/* #Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;} */

/* Medpart - Sponsored */
.medpart-box, .sponsored-box{
    width: 80%;
    height: 200px;
    padding: 20px;
    background: #2d2d2d;
    color: white;
    margin: 0px auto 100px; 
    /* code ini akan membuat div berada di tengah atas */
}

.title-box{
    width: max-content;
    margin: 100px auto 30px;
}

/* speaker  */


/* Logo Landing */

.logo-landing{
    transition: width 3s;
}

.logo-landing:hover{
    width: 65%;
}

/* ---------------------- */
/* Responsif Landing Page */
/* ---------------------- */

/* Countdown */
/* @media screen and  (max-width:1224px){
    div.banner div.countdown > div {
        width: 55px;
        height: 70px;
    }

    div.countdown div {
        font-size: 1.2rem;
    }

    div.countdown p {
        color: #1c1c1c;
        font-size: 0.5rem;
    }
}
@media screen and  (max-width:1090px){
    div.banner div.countdown > div {
        width: 45px;
        height: 60px;
    }

    div.countdown div {
        font-size: 1.0rem;
    }

    div.countdown p {
        color: #1c1c1c;
        font-size: 0.4rem;
    }
} */

/* Ket : Setengah Layar */
@media screen and  (max-width:1167px){
    div.banner div.countdown > div {
        margin-top: 10px;
    }
}

@media screen and  (max-width:665px){
    div.banner div.countdown > div {
        margin-top: 10px;
        width: 40%;
        height: 50px;
    }

    div.countdown div {
        font-size: 1.0rem;
    }

    div.countdown p {
        color: #1c1c1c;
        font-size: 0.3rem;
    }
}

@media screen and  (max-width:550px){
    div.banner div.countdown > div {
        margin-top: 10px;
        width: 30%;
        height: 40px;
    }

    div.countdown div {
        font-size: 1.0rem;
    }

    div.countdown p {
        color: #1c1c1c;
        font-size: 0.3rem;
    }

    div.banner span.register {
        padding: 5px 10px;
    }
}

@media screen and  (max-width:570px){
    #info{
        display: none;
    }

    .box-countdown{
        display: block;
    }
}

@media screen and  (max-width:450px){
    div.banner div.countdown > div {
        margin-top: 10px;
        width: 40px;
        height: 55px;
    }

    div.countdown div {
        font-size: 1.0rem;
    }

    div.countdown p {
        color: #1c1c1c;
        font-size: 0.3rem;
    }
}

/* Tablink Responsif */
@media screen and (max-width: 925px){
    .isian-tab1{
        display: none;
    }

    .isian-tab2{
        display: flex;
    }

    .speaker {
        display: inline-block;
    }

    .img-speakers{
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    
    .speaker h5{
        text-align: center;
    }

    .button-speakers-details{
        display: flex;
        justify-content: space-around;
    }
    
    .media-body p{
        font-size: 0.5vm;
    }
}

@media screen and (max-width: 505px){   
    .media-body p{
        font-size: 12px;
    }
}