@import url(font.css);

body {
    background: url("/img/haha.jpg");
    /*   */
    width: 100%;
}

/* 
    Main Content
*/
.content-main {
    position: relative;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 100%;
}

.logo-content-main {
    width: 30%;
    margin: 0 auto;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-content-main img {
    width: 100%;
}

/* 
    Countdown
*/

div#info {
    flex-direction: column;
    /* position: absolute; */
    bottom: 40px;
    width: 100%;
    z-index: 2;
    gap: 20px;
}

div#info i {
    font-size: 1.2rem;
    padding: 0.5rem;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#info div.banner {
    width: 80%;
    max-width: 1400px;
    background-color: #291647;
    border-radius: 10px;
    padding: 1rem 1.7rem;
    justify-content: space-between;
}

div.banner div.countdown>div {
    display: inline-block;
    width: 70px;
    height: 85px;
    background-color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
}

div.countdown div {
    color: #1c1c1c;
    font-size: 1.7rem;
    font-weight: bolder;
}

div.countdown p {
    color: #1c1c1c;
    font-size: 0.7rem;
}

div.banner h3 {
    font-size: 1.5rem;
    font-family: "Mont", sans-serif;
}

div.banner span.register {
    padding: 10px 30px;
    background-color: #8267b4;
    color: white;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 10px;
    /* border: 2px solid #01142b; */
}

div.button-speakers-details button.allspeaker {
    padding: 5px 20px;
    background-color: #8267b4;
    border-radius: 5px;
    display: inline-block;
    border: none;
}

div.banner span.details {
    padding: 10px 30px;
    /* background-color: #8267B4; */
    color: #1c1c1c;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 10px;
    /* border: 2px solid #01142b; */

    padding: 10px 30px;
    color: #01142b;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid #01142b;
}

.title-cd {
    font-size: 110%;
}

div .countdown2 {
    display: flex;
    justify-content: space-around;
}

.box-countdown {
    display: none;
    width: 80%;
    background-color: #291647;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

.box-timer {
    width: 20%;
    border: 1px #000 solid;
    background-color: #ffff;
    border-radius: 5px;
}

.box-timer div,
.box-timer p {
    display: flex;
    justify-content: space-around;
}

#days2,
#hours2,
#minutes2,
#seconds2 {
    color: #1c1c1c;
    font-size: 2vw;
    font-weight: bolder;
}

.title-countdown p {
    margin-top: 20px;
    color: #fff;
    font-size: 5vw;
    font-weight: bolder;
    text-align: center;
}

div.countdown2 p {
    text-align: center;
    color: #1c1c1c;
    font-size: 1vw;
    font-weight: bolder;
}

/* 
    Tabline
*/
.media-body p {
    font-family: "Poppins-Regular";
    text-align: justify;
    font-size: 1vm;
}

.tab {
    margin: 0 auto;
    box-align: center;
    background-color: #a9d9f5;
    height: 300px;
}

.isian-tab1 button {
    display: flex;
    justify-content: space-between;
}

.tablink {
    background-color: #e7ecf1;
    color: rgb(164, 163, 163);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 14px;
    width: 19%;
    border-radius: 10px;
}

.tablink:hover {
    background-color: #291647;
    color: white;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 20px 20px;
    height: 100%;
}

.ITComp-details {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.ITComp-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    gap: 3%;
    width: 90%;
    height: 20%;
}

.ITComp-button {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap: 10%;
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 12px;
}

.hovereffect {
    width: 70%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 4.75em;
    background: #79FAC4;
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: hidden;

}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.hovereffect:hover img {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
    cursor: pointer !important;
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    margin: 0px;
    display: inline-block;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
    color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    visibility: visible;
}

.hovereffect p.icon-links a span:before {
    display: inline-block;
    padding: 8px 10px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}






.memek {
    display: block;
}

.isian-tab1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    /* background: #291647; */
    background-color: #E6EEF7;
    color: white;
    margin: 100px auto 0;
}

.isian-tab2 {
    display: none;
    justify-content: start;
    width: 80%;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: #E6EEF7;
    color: white;
    margin: 100px auto 0;
}

.pasklik {
    width: 80%;
    height: 300px;
    padding: 20px;
    background-color: #E6EEF7;
    color: white;
    margin: 0px auto;
}

.box-speaker {
    width: 80%;
    padding: 20px;
    background-color: #291647;
    color: white;
    margin: 0px auto 50px auto;
    border-radius: 0 0 10px 10px;
}

.speaker {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 50px 20%;
}

.speaker img {
    width: 180px;
    height: 200px;
}

.carousel-pembicara {
    position: relative;
}

.box-tab {
    height: 500px;
}

/* Warna tulisan */
#Home h3,
#Home p,
#News h3,
#News p,
#Contact h3,
#Contact p,
#About h3,
#About p,
#About2 h3,
#About2 p {
    color: #000;
}

/* Medpart - Sponsored */
.medpart-box{
    width: 80%;
    padding: 20px;
    /* background: #2d2d2d; */
    color: white;
    margin: 0px auto 100px;
    /* code ini akan membuat div berada di tengah atas */
}
.sponsored-box {
    width: 80%;
    /* height: 200px; */
    padding: 20px;
    /* background: #2d2d2d; */
    color: white;
    margin: 0px auto 100px;
    /* code ini akan membuat div berada di tengah atas */
}

.title-box {
    width: max-content;
    margin: 100px auto 30px;
}

/* speaker  */

/* Logo Landing */

.logo-landing {
    transition: width 3s;
}

.logo-landing:hover {
    width: 105%;
}

#conference-btn-responsive {
    padding: 10px 30px;
    background-color: #8267B4;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 30px;
    border: none;
}

#conference-btn-responsive2 {
    padding: 10px 30px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 10px;
    border: 2px solid #01142b;
    padding: 10px 30px;
    color: #ffff;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid #ffff;
}

#Home h3,
#Home p,
#News h3,
#News p,
#Contact h3,
#Contact p,
#About h3,
#About p,
#About2 h3,
#About2 p {
    text-align: center;
}

.rm-3{
    margin-right: 1rem;
}

/* Ket : Setengah Layar */
@media screen and (max-width: 1167px) {
    div.banner div.countdown>div {
        margin-top: 10px;
    }
}

@media screen and (max-width: 665px) {
    div.banner div.countdown>div {
        margin-top: 10px;
        width: 40%;
        height: 50px;
    }

    div.countdown div {
        font-size: 1rem;
    }

    div.countdown p {
        color: #1c1c1c;
        font-size: 0.3rem;
    }
}

@media screen and (max-width: 550px) {
    div.banner div.countdown>div {
        margin-top: 10px;
        width: 30%;
        height: 40px;
    }

    div.countdown div {
        font-size: 1rem;
    }

    div.countdown p {
        color: #1c1c1c;
        font-size: 0.3rem;
    }

    div.banner span.register {
        padding: 5px 10px;
    }
}

@media screen and (max-width: 570px) {
    #info {
        display: none;
    }

    .box-countdown {
        display: block;
    }
}

@media screen and (max-width: 450px) {
    div.banner div.countdown>div {
        margin-top: 10px;
        width: 40px;
        height: 55px;
    }

    div.countdown div {
        font-size: 1rem;
    }

    div.countdown p {
        color: #1c1c1c;
        font-size: 0.3rem;
    }
}

/* Tablink Responsif */
@media screen and (max-width: 925px) {
    .isian-tab1 {
        display: none;
    }

    .isian-tab2 {
        display: flex;
    }

    .speaker {
        display: block;
    }

    .img-speakers {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .speaker h5 {
        text-align: center;
    }

    .button-speakers-details {
        display: flex;
        justify-content: space-around;
    }

    .media-body p {
        font-size: 0.5vm;
    }

    .item-dropmenu {
        display: block;
        width: 100%;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #8267b4;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }

    .item-dropmenu:hover {
        color: #c4c4c4;
        text-decoration: none;
        /* background-color: #8267B4; */
    }

    .border-dropmenu {
        border: 1.5px #161616 solid;
    }
}

@media screen and (max-width: 505px) {
    .media-body p {
        font-size: 12px;
    }
}

/* ========= */
/* Responsif */
/* ========= */

/* Laptop Mini */
@media screen and (max-width:1024px) {
    .pasklik{
        height: auto;
    }

    #News p{
        font-size: 12px;
    }
}

/* Tablet */
@media screen and (max-width:768px) {
    .content-main {
        margin-top: 20px;
    }

    .rm-3{
        margin-right: 0;
    }

    .media-body p{
        text-align: center;
    }
}

/* Mobile S */
@media screen and (max-width: 320px) {
    .content-main{
        margin-top: 50px;
    }
    
    #News p{
        font-size: 10px;
    }

    .pasklik{
        height: auto;
    }
}

