/* ---------- */
/* Style Umum */
/* ---------- */
@import url(font.css);
* {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    background-color: #1c1c1c;
}

/* ------------ */
/* Style Navbar */
/* ------------ */
header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    background-color: #1c1c1c;
    z-index: 999;
    box-shadow: 0px 1px 0px #1c1c1c;
}

.scrolled{
    box-shadow: 0px 5px 5px #161616;
    /* box-shadow: 0px 1px 1px #291647; */
}

.box-login,
.box-menu {
    width: 30%;
}

.box-login {
    display: flex;
    justify-content: flex-end;
}

.box-logo {
    display: flex;
    width: max-content;
    justify-content: space-around;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu li {
    display: inline-block;
}

.left-nav{
    color: #fff;
    transition: all 0.3s ease 0s; 
}

.right-nav{
    color: #1c1c1c;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav-item a:hover {
    color: #8267B4;
}

.button-login {
    padding: 5px 25px;
    background-color: #8267B4;
    color: #1c1c1c;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button-login a{
    color: #1c1c1c;
}

li,
a,
button {
    font-family: "Poppins-Medium";
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.item-dropmenu{
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #8267B4;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.item-dropmenu:hover{
    color: #1c1c1c;
    text-decoration: none;
    /* background-color: #8267B4; */
}

.border-dropmenu{
    border: 1.5px #161616 solid;
}


/* Hamburger Menu */
.sidenav {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1c1c1c;
    border: 1px #161616 solid;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a, .sa {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #ffff;
    display: block;
}

.burger-details:hover{
    color: #8267B4;
}

.hamburger-menu{
    display: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.card-hamburger{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
    word-wrap: break-word;
    /* border: 1px solid rgba(0, 0, 0, .125); */
    border-radius: 0.25rem;
    margin-bottom: 20px;
    color: #fff;
}

.card-hamburger summary{
    background-color: transparent;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* ========= */
/* Responsif */
/* ========= */
/* Membuat bagian nav kiri menjadi inline */
@media screen and (max-width: 1040px) {
    header{
        padding: 0 20px;
    }

    .menu {
        display: block;
    }

    .box-menu,
    .box-login {
        width: 40%;
    }
}

/* Membuat Nav bagian kiri menjadi hamburgermenu */
@media screen and (max-width:850px) {
    nav{
        display:none;
    }

    .hamburger-menu{
        display: block;
    }
}