@import url(font.css);
@import url(generalStyle.css);

html, body{
    overflow-x: hidden;
    width: 100%;
}

/* ------------------- General ------------------- */
.text-card-title {
    font-family: "Poppins-SemiBold";
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #e6eef7;
}

.text-profile-head {
    font-family: "Poppins-Regular";
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.text-profile-data {
    font-family: "Poppins-SemiBold";
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: #ffffff;
}

.text-tickets-head {
    font-family: "Poppins-SemiBold";
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #000000;
}

.text-tickets-desc {
    font-family: "Poppins-Regular";
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 0;
}

.text-tickets-status {
    font-family: "Poppins-SemiBold";
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
}

/* ------------------- Image Profile ------------------- */
.circular--portrait {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.circular--portrait img {
    width: 100%;
    height: auto;
}

/* ------------------- Ticket Details ------------------- */
.text-details-card-title {
    font-family: "Poppins-SemiBold";
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #e6eef7;
}

.text-details-card-head {
    font-family: "Poppins-SemiBold";
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: black;
}

.text-details-card-desc {
    font-family: "Poppins-Regular";
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: black;
}

.card.ifest-card-details {
    background-color: #A1A1A1;
    border: 0;
}

.circular-number {
    width: 100%;
    height: 100%;
}

.status-green {
    color: green;
}

.status-orange {
    color: #D78915;
}

.status-red {
    color: #D71515;
}

@media screen and (max-width: 1199px) {
    .ifest-btn-primary-dark-bg{
        margin-top: 20px;
    }

    .col-7{
        max-width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .col-sm-6{
        margin-top: 30px;
    }
}

@media screen and (max-width: 575px) {
    .col-sm-6{
        margin-top: 30px;
    }
}
