@import url(font.css);
@import url(generalStyle.css);

/* ------------------- General ------------------- */
html, body{
    overflow-x: hidden;
    width: 100%;
}

.regist-text-title {
    font-family: "Poppins-SemiBold";
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
}

.regist-text-desc {
    font-family: "Poppins-Regular";
    font-size: 28px;
    line-height: 42px;
    color: #ffffff;
}

.regist-text-subhead {
    font-family: "Poppins-Regular";
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

.regist-form-text {
    font-family: "Lato-Bold";
    font-size: 18px;
    line-height: 21.6px;
    text-align: left;
}

.regist-form-notes-text {
    font-family: "Lato-Regular";
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
    text-align: left;
}

.regist-form-text-payment-head {
    font-family: "Poppins-SemiBold";
    font-size: 18px;
    text-align: left;
    font-weight: 700;
}

.regist-form-text-price {
    font-family: "Poppins-Regular";
    font-size: 20px;
    text-align: left;
    font-weight: 400;
}

.regist-form-text-payment {
    font-family: "Poppins-Regular";
    font-size: 16px;
    text-align: left;
    font-weight: 400;
}

/* ------------------- Form ------------------- */
.form-control.ifest-regist-form {
    border-color: #8267B4;
    background-color: #1c1c1c;
    color: #ffffff;
}

.form-control.ifest-regist-form:hover,
.form-control.ifest-regist-form:active,
.form-control.ifest-regist-form:focus {
    border-color: #8267B4;
    background-color: #1c1c1c;
    box-shadow: none;
    color: #ffffff;
}

/* Add Member*/
.row-addmember {
    display: none;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.input-element-regis {
    background-color: #1c1c1c;
    width: 100%;
    border: 1px solid #8267B4;
    height: calc(2.25rem + 2px);
    border-radius: 0.25rem;
    box-shadow: none;
}

.input-element-regis:hover,
.input-element-regis:focus,
.input-element-regis:active {
    border: 1px solid #8267B4;
}

input.placeholder {
    text-align: center;
}

.button-upload {
    display: inline-block;
    background-color: #8267B4;
    border: 1px solid #8267B4;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: max-content;
    transition: all 0.5s;
    cursor: pointer;
}

.button-upload-wrap {
    position: relative;
    width: max-content;
}

.button-upload:hover {
    background-color: #8267b498;
}

.text-button-upload {
    font-family: "Lato-Regular";
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 575px) {
    .col-sm-6{
        margin-top: 30px;
    }
}

/* input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 20px;
    font-size: 17px;
    color: #b8b8b8;
} */